<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Appointment</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href={% static "/assets/img/logo-bg.png" %} type="image/x-icon"/>
    <link rel="stylesheet" href={% static "/assets/styles/css/nullstyle.css" %}/>
    <link rel="stylesheet" href={% static "/assets/styles/css/header.css" %}/>
    <link rel="stylesheet" href={% static "/assets/styles/css/appointment.css" %}/>
    <link rel="stylesheet" href={% static "/assets/styles/css/slider.css" %}/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
</head>
<body>
<!--==================== HEADER ====================-->
<header id="header">
    <nav class="navbar container">
        <a class="navbar__brand" href="/"
        ><img src="{% static "/assets/img/logo.png" %}" width="118" alt="logo"
        /></a>
        <button class="navbar__toggler" id="navbar-toggler">X</button>
        <ul class="navbar__list" id="navbar-list">
            {% if not user.is_staff %}
            <li class="navbar__item">
                <a class="navbar__link" href="/appointment">appointment</a>
            </li>
            {% endif %}
            {% if user.is_staff %}
            <li class="navbar__item">
                <a class="navbar__link" href="/blockchain/block/chain">blockchain</a>
            </li>
            {% endif %}
            <li class="navbar__item">
                <a class="navbar__link" href="/market">shop </a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/main/contact">contact</a>
            </li>

            {% if user.is_authenticated %}
                <li class="navbar__item">
                    <a class="navbar__link" href="/users/logout"> Welcome, {{ user_first_name }}</a>
                </li>
            {% else %}
                <li class="navbar__item__btn">
                    <a class="navbar__btn btn" href="/users/login"
                    ><span class="cover"></span> Sign In</a
                    >
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="mt-5 pt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</header>

<main>
    <!--==================== APPOINTMENT ====================-->
    <section class="appointment" id="appointment">
        <div class="appointment__container container">
            <form id="form">
                <!--==================== STEP DOCTORS ====================-->
                <fieldset id="step-doctors">
                    <div class="fieldset">
                        <div class="step__container">
                            <div class="subtitle"><h2>choose a doctor</h2></div>
                            <div class="pre__btn">
                                <img src={% static "/assets/img/arrow.png" %} alt=""/>
                            </div>
                            <div class="nxt__btn">
                                <img src={% static "/assets/img/arrow.png" %} alt=""/>
                            </div>
                            <div class="doctors__container">
                                {% if all_doctors %}
                                    {% for doctor in all_doctors %}
                                        <div class="doctors__card" id="{{ doctor.slug }}">
                                            <div class="doctors__card__img">
                                                {% if doctor.image %}
                                                    <img src={{ doctor.image }} class="doctor__img" alt=""/>
                                                {% else %}
                                                    <img src={% static "assets/img/doctor.jpg" %} class="doctor__img"
                                                         alt=""/>
                                                {% endif %}
                                            </div>
                                            <div class="doctors__card__info">
                                                <h2 class="doctors__card__title">{{ doctor.first_name }} {{ doctor.last_name }}</h2>
                                                <p class="doctors__card__description">
                                                    {{ doctor.description }}
                                                </p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="step">
                            <div class="step__numbers">
                                <div class="step__number step__number__on">1</div>
                                <div class="step__number">2</div>
                                <div class="step__number">3</div>
                            </div>
                            <div class="step__info">
                                <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 448 512"
                                >
                                    <path
                                            d="M128 0c17.7 0 32 14.3 32 32V64H288V32c0-17.7 14.3-32 32-32s32 14.3 32 32V64h48c26.5 0 48 21.5 48 48v48H0V112C0 85.5 21.5 64 48 64H96V32c0-17.7 14.3-32 32-32zM0 192H448V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V192zM329 305c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-95 95-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L329 305z"
                                    />
                                </svg>
                                <div class="subtitle"><h3>schedule an appointment</h3></div>
                                <p>
                                    Follow the steps to set up an appointment with us to get
                                    the best isnurance solution
                                </p>
                            </div>
                            <div class="step__contacts">
                                <div class="step__contacts__number">100100100</div>
                                <div class="step__contacts__email">
                                    100points@please.pls
                                </div>
                            </div>
                        </div>
                    </div>
                    <input
                            type="submit"
                            name="next"
                            class="next action__btn"
                            value="Next"
                            id="next"
                    />
                </fieldset>
            </form>
        </div>
    </section>
</main>
{#<input type="hidden" id="Url" data-url="{% url 'appointment:doctor_selected' id %}"/>#}
<script src={% static "/assets/js/jquery-3.6.3.min.js" %}></script>
<script src={% static "/assets/js/slider.js" %}></script>
<script src={% static "/assets/js/appointment.js" %}></script>

<script>
    console.log("hi")
    let doctor;
    $(".doctors__card").click(function () {
        doctor = $(this).attr('id')
        $('#next').click(function () {
            console.log('bitch')
            {#$('#form').action = '/appointment/doctor/' + doctor +'/'#}
            {#$('#form').formAction = '/appointment/doctor/' + doctor +'/'#}
            {#$('#form').formAction = "{% url 'appointment:doctor_selected' doctor %}"#}
            let url = "/appointment/doctor/" + doctor + "/"
            console.log(url)
            {#$('#form').action = url#}
            $('#form').attr('action', url)

        })
    })
</script>
</body>
</html>
