<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Doctor main page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href={% static "/assets/img/logo-bg.png" %} type="image/x-icon"/>
    <link rel="stylesheet" href={% static "/assets/styles/css/nullstyle.css" %}/>
    <link rel="stylesheet" href={% static "/assets/styles/css/header.css" %}/>
    <link rel="stylesheet" href={% static "/assets/styles/css/doctorMain.css" %}/>
</head>
<body>
<!--==================== HEADER ====================-->
<header id="header">
    <nav class="navbar container">
        <a class="navbar__brand" href="/"
        ><img src="{% static "/assets/img/logo.png" %}" width="118" alt="logo"
        /></a>
        <button class="navbar__toggler" id="navbar-toggler">X</button>
        <ul class="navbar__list" id="navbar-list">
            <li class="navbar__item">
                <a class="navbar__link" href="/">home page</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/market">shop</a>
            </li>
            <li class="navbar__item">
                <a class="navbar__link" href="/main/contact">contact</a>
            </li>
            {% if user.is_authenticated %}
                <li class="navbar__item">
                    <a class="navbar__link" href="/users/logout"> Welcome, {{ user_first_name }}</a>
                </li>
            {% else %}
                <li class="navbar__item__btn">
                    <a class="navbar__btn btn" href="users/login"
                    ><span class="cover"></span> Sign In</a
                    >
                </li>
            {% endif %}
        </ul>
    </nav>
    <div class="mt-5 pt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</header>

<main>
    <!--==================== PATIENTS ====================-->
    <section class="patients">
        <div class="patients__container container">
            <div class="patients__title">
                {% if user.is_authenticated %}
                    <h2 class="title">Welcome, Dr. {{ user_first_name }}!</h2>
                {% endif %}
                <button class="today patient__btn" onclick="location.href=location.href+'?today=True'">Show today</button>
            </div>
            <div class="patients__data">
                {% if data %}
                    {% for app in data %}
                        <div class="patient">
                            <div class="patient__main">
                                <h2 class="patient__id">{{ app.id }}</h2>
                                <h3 class="date">{{ app.date }} {{ app.time }}</h3>
                                <p class="name">{{ app.patient }}</p>
                            </div>

                            {% if app.status == "done" %}
                                <a class="patient__btn" style="background-color: #aaff88 !important;" href="/appointment/account/doctor/{{ app.id }}">Done
                                </a>

                            {% else %}
                                <a class="patient__btn" href="/appointment/account/doctor/{{ app.id }}" >Edit
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="name">Not found</p>

                {% endif %}
            </div>
        </div>
    </section>
</main>
</body>
</html>
