/*=============== VARIABLES SCSS ===============*/
/*========== Colors ==========*/
/*========== Font ==========*/
@font-face {
  font-family: "Comfortaa", cursive;
  src: url();
}
@font-face {
  font-family: "Molengo", sans-serif;
  src: url();
}
/*========== Typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*========== z index ==========*/
/* Responsive typography */
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1140px;
  margin-inline: auto;
  padding: 2rem;
}

.cover {
  width: 0%;
  z-index: -1;
}

.cover__bg {
  width: 100%;
  z-index: -2;
}

.cover, .cover__bg {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  background: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section {
  position: relative;
}

.bg {
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  width: 100%;
  line-height: 120%;
  position: relative;
  font-size: 3.25rem;
  color: #283779;
}

.subtitle {
  height: 15vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subtitle h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #283779;
}
.subtitle h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #283779;
}

input {
  width: 80%;
  margin: 8px 0;
  padding: 12px 15px;
  border: 0.1rem solid #b4dcec;
  border-radius: 5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input:focus {
  border: 0.1rem solid #283779;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

body {
  background-color: #b4dcec;
  overflow: hidden;
  place-items: center;
}

form {
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}
form .forgot__password {
  margin: 1rem 0;
}

.login__container {
  margin-top: 10rem;
  width: 100%;
  height: calc(100vh - 10rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #b4dcec;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}
.login__btn .cover {
  background: #f0f4f9;
}
.login__btn:hover {
  color: #283779;
}

.form__container {
  position: absolute;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.signin__container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.signup__container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.overlay {
  background: #283779;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
.overlay__container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  z-index: 100;
}
.overlay__panel {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}
.overlay__panel .title {
  color: #fff;
}
.overlay__panel p {
  margin: 1rem 0 2rem 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #fff;
}
.overlay__left {
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.overlay__right {
  right: 0;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.overlay__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  border: 0.1rem solid #f0f4f9;
  color: #b4dcec;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}
.overlay__btn .cover {
  background: #f0f4f9;
}
.overlay__btn:hover {
  color: #283779;
  background-color: #f0f4f9;
}

.login__container.right__panel__active .signin__container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.login__container.right__panel__active .signup__container {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  -webkit-animation: show 0.6s;
          animation: show 0.6s;
}
.login__container.right__panel__active .overlay {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
.login__container.right__panel__active .overlay__container {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}
.login__container.right__panel__active .overlay__left {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.login__container.right__panel__active .overlay__right {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

.social__container {
  margin: 20px 0;
}
.social__container a {
  width: 40px;
  height: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  background-color: #b4dcec;
  border-radius: 50%;
  color: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.social__container a:hover {
  border: 1px solid #283779;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@-webkit-keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

@keyframes show {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}