/*=============== VARIABLES SCSS ===============*/
/*========== Colors ==========*/
/*========== Font ==========*/
@font-face {
  font-family: "Barlow";
  src: url(../../fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: "Muli", sans-serif;
  src: url(../../fonts/muli/Muli.ttf);
}
/*========== Typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*========== z index ==========*/
/* Responsive typography */
body {
  font-family: "Barlow";
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem;
  position: relative;
}

.cover {
  width: 0%;
  z-index: -1;
}

.cover__bg {
  width: 100%;
  z-index: -2;
}

.cover, .cover__bg {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  background: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn {
  display: inline-block;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  border: 0.1rem solid #283779;
  border-radius: 5rem;
  background: transparent;
  color: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover {
  color: #b4dcec;
}
.btn:hover span {
  width: 100%;
}

section {
  position: relative;
}

.bg {
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  width: 100%;
  line-height: 120%;
  position: relative;
  font-size: 3.25rem;
  font-family: "Muli";
  color: #283779;
}

.subtitle {
  height: 15vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subtitle h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #283779;
}
.subtitle h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Muli";
  color: #283779;
}

input {
  width: 80%;
  margin: 8px 0;
  padding: 12px 15px;
  border: 0.1rem solid #b4dcec;
  border-radius: 5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input:focus {
  border: 0.1rem solid #283779;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

body {
  background-color: #f0f4f9;
}

/*=============== PRODUCT ===============*/
.product {
  margin-top: 5.5rem;
  /*=============== PRODUCT MAIN ===============*/
  /*=============== PRODUCT DATA ===============*/
  /*=============== PRODUCT MORE INFO ===============*/
}
.product__container {
  margin: 3rem 0;
}
.product__main {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.product__main .flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.product__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.product__info {
  -ms-grid-column-align: start;
      justify-self: start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.product__title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #000;
}
.product__reviews {
  color: #b4dcec;
}
.product__price {
  font-size: 1.75rem;
  font-weight: 600;
  color: #283779;
}
.product__price span {
  font-size: 0.75rem;
}
.product__description {
  line-height: 1.5rem;
  font-size: 1rem;
}
.product .btn__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.product__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1rem;
  padding: 1rem 3rem;
  overflow: hidden;
  cursor: pointer;
  font-size: 1rem;
  border: 0.1rem solid #283779;
  background-color: #283779;
  color: #f0f4f9;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.product__btn:hover {
  background-color: #fff;
  color: #283779;
}
.product__btn.remove__btn {
  background-color: #b4dcec;
  color: #283779;
}
.product__btn.remove__btn:hover {
  background-color: #fff;
  color: #283779;
}
.product__more__info {
  padding-top: 2rem;
  border-top: 0.1rem solid #b4dcec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.product__more__info .more__info__title, .product__more__info .more__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.product__more__info .more__info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

/*=============== REVIEW ===============*/
.review {
  /*=============== REVIEW MAIN ===============*/
}
.review__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.75rem;
  font-weight: 700;
  color: #283779;
}
.review__title::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  background-color: #b4dcec;
}
.review__title h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 3rem;
  background-color: #f0f4f9;
  z-index: 5;
}
.review__main {
  margin: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
}
.review__main .write__review {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.review__main .write__review__title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
.review__main .write__review__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}
.review__main .write__review__main .name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.review__main .write__review__main .email {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.review__main .write__review textarea {
  width: 100%;
  height: 100px;
  margin: 8px 0;
  padding: 12px 15px;
  resize: none;
}
.review__main .write__review .name, .review__main .write__review .email, .review__main .write__review textarea {
  border: 0.1rem solid #283779;
  border-radius: 0 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.review__main .write__review .name:focus, .review__main .write__review .email:focus, .review__main .write__review textarea:focus {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}
.review__main .write__review .send__btn {
  width: 100px;
  padding: 10px 5px;
  border-radius: 0 !important;
  background-color: #283779;
  border: 0 none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.review__main .reviews {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.review__main .reviews__card {
  padding: 1rem;
  -webkit-box-shadow: 0 0 5px 0 #283779;
          box-shadow: 0 0 5px 0 #283779;
  border: 0.1rem solid #283779;
  background-color: #fff;
}
.review__main .reviews__title {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: #283779;
}
.review__main .reviews__date {
  padding-top: 0.5rem;
  color: #b4dcec;
}
.review__main .reviews__starts {
  padding: 1rem 0;
}
.review__main .reviews__starts .start__on {
  color: #283779;
}
.review__main .reviews__starts .start__off {
  color: #b4dcec;
}

/*=============== PRODUCTS ===============*/
.products {
  margin-bottom: 5rem;
}
.products__container {
  width: 100%;
}
.products__data {
  margin: 1.5rem 0;
}
.products .product__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}
.products .product__card {
  width: 18rem;
  height: 25rem;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0 0 5px 0 #283779;
          box-shadow: 0 0 5px 0 #283779;
  border: 0.1rem solid #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.products .product__card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 0 0 1rem 0 #283779;
          box-shadow: 0 0 1rem 0 #283779;
}
.products .product__card img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1rem;
}
.products .product__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 1rem;
}
.products .product__card__selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.products .product__card__selected i {
  font-size: 1.5rem;
  color: #283779;
}