/*=============== VARIABLES SCSS ===============*/
/*========== Colors ==========*/
/*========== Font ==========*/
@font-face {
  font-family: "Comfortaa", cursive;
  src: url();
}
@font-face {
  font-family: "Molengo", sans-serif;
  src: url();
}
/*========== Typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*========== z index ==========*/
/* Responsive typography */
/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1140px;
  margin-inline: auto;
  padding: 2rem;
}

.btn {
  display: inline-block;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  border: 0.1rem solid #283779;
  border-radius: 5rem;
  background: transparent;
  color: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover {
  color: #b4dcec;
}
.btn:hover span {
  width: 100%;
}

.cover {
  width: 0%;
  z-index: -1;
}

.cover__bg {
  width: 100%;
  z-index: -2;
}

.cover, .cover__bg {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  background: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

section {
  position: relative;
}

.bg {
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  width: 100%;
  line-height: 120%;
  position: relative;
  font-size: 3.25rem;
  color: #283779;
}

.subtitle {
  height: 15vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subtitle h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #283779;
}
.subtitle h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #283779;
}

input {
  width: 80%;
  margin: 8px 0;
  padding: 12px 15px;
  border: 0.1rem solid #b4dcec;
  border-radius: 5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input:focus {
  border: 0.1rem solid #283779;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

body {
  background-color: #f0f4f9;
}

/*=============== WELCOME ===============*/
.welcome {
  background-image: url(../../img/welcome-bg.png);
}
.welcome__container {
  width: 100%;
  padding-top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.welcome__data {
  margin-top: -3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.welcome__description {
  line-height: 140%;
  margin: 1rem 0 2.5rem 0;
  font-size: 1.5rem;
  color: #1b71a1;
}
.welcome__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 600;
  color: #b4dcec;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}
.welcome__btn .cover {
  background: #f0f4f9;
}
.welcome__btn:hover {
  color: #283779;
  background-color: #f0f4f9;
}
.welcome__photo {
  width: 100%;
  height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.welcome__photo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/*=============== DEPARTMENTS ===============*/
.departments {
  margin-top: 2rem;
}
.departments__title__bg {
  background-image: url(../../img/bg-departments.png);
}
.departments__cards {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20rem;
  gap: 1rem;
}
.departments__cards .card1 {
  background-image: url(../../img/welcome.png);
}
.departments__cards .card2 {
  background-image: url(../../img/welcome.png);
}
.departments__cards .card3 {
  background-image: url(../../img/welcome.png);
}
.departments__cards .card4 {
  background-image: url(../../img/welcome.png);
}
.departments__cards .card5 {
  background-image: url(../../img/welcome.png);
}
.departments__cards > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.departments__cards > div:hover {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}
.departments__cards > div:hover > :not(:hover) {
  opacity: 0.5;
}

/*=============== ABOUT ===============*/
.about {
  background-image: url(../../img/about-bg.png);
}
.about__title__bg {
  background-image: url(../../img/about-us.png);
}
.about__container {
  width: 100%;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__photo {
  width: 150vh;
}
.about__photo img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.about__data {
  width: 100%;
  margin: -3rem 0 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about__title {
  line-height: 120%;
  position: relative;
  font-size: 2rem;
  color: #283779;
}
.about__description {
  line-height: 140%;
  margin: 1rem 0 2.5rem 0;
  font-size: 1.5rem;
  color: #1b71a1;
}
.about__btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  margin: 0;
  font-size: 1.5rem;
  color: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: 2;
}

@media screen and (max-width: 992px) {
  .welcome__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .welcome__data {
    height: 65vh;
    margin-top: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .welcome__description {
    line-height: 130%;
  }
}
@media (max-width: 768px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__photo {
    width: 80vw;
    margin: 0 auto 5vh auto;
  }
  .about__photo img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about__data {
    margin: 0;
    min-height: 45vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .about__description {
    margin-bottom: 2rem;
    line-height: 130%;
  }
}