/*=============== VARIABLES SCSS ===============*/
/*========== Colors ==========*/
/*========== Font ==========*/
@font-face {
  font-family: "Barlow";
  src: url(../../fonts/Barlow/Barlow-Regular.ttf);
}
@font-face {
  font-family: "Muli", sans-serif;
  src: url(../../fonts/muli/Muli.ttf);
}
/*========== Typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
/*========== Font weight ==========*/
/*========== z index ==========*/
/* Responsive typography */
body {
  font-family: "Barlow";
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin-inline: auto;
  padding: 1rem;
  position: relative;
}

.cover {
  width: 0%;
  z-index: -1;
}

.cover__bg {
  width: 100%;
  z-index: -2;
}

.cover, .cover__bg {
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 25px;
  background: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn {
  display: inline-block;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  border: 0.1rem solid #283779;
  border-radius: 5rem;
  background: transparent;
  color: #283779;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover {
  color: #b4dcec;
}
.btn:hover span {
  width: 100%;
}

section {
  position: relative;
}

.bg {
  width: 100%;
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  width: 100%;
  line-height: 120%;
  position: relative;
  font-size: 3.25rem;
  font-family: "Muli";
  color: #283779;
}

.subtitle {
  height: 15vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.subtitle h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 700;
  color: #283779;
}
.subtitle h3 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Muli";
  color: #283779;
}

input {
  width: 80%;
  margin: 8px 0;
  padding: 12px 15px;
  border: 0.1rem solid #b4dcec;
  border-radius: 5rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
input:focus {
  border: 0.1rem solid #283779;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

body {
  background-color: #f0f4f9;
}

/*=============== PATIENTS ===============*/
.patient {
  padding-top: 5.5rem;
}
.patient__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}
.patient__title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 0.5rem;
  font-family: "Muli";
}
.patient__data {
  width: 100%;
  height: 50vh;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3rem;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px 0 #283779;
          box-shadow: 0 0 5px 0 #283779;
}
.patient__btn {
  width: 100px;
  padding: 10px 5px;
  background-color: #283779 !important;
  color: #fff !important;
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
.patient__btn:hover, .patient__btn:focus {
  -webkit-box-shadow: 0 0 0 2px #b4dcec, 0 0 0 3px #283779 !important;
          box-shadow: 0 0 0 2px #b4dcec, 0 0 0 3px #283779 !important;
}
.patient__btn a {
  color: #283779;
}

.patient__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.patient__main h3 {
  padding: 1rem 0;
  font-size: 1.5rem;
}
.patient__recommendations {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.patient__recommendations textarea {
  width: 100%;
  padding: 1rem;
  resize: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: 0.1rem solid #b4dcec;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.patient__recommendations textarea::-webkit-input-placeholder {
  color: #b4dcec;
}
.patient__recommendations textarea::-moz-placeholder {
  color: #b4dcec;
}
.patient__recommendations textarea:-ms-input-placeholder {
  color: #b4dcec;
}
.patient__recommendations textarea::-ms-input-placeholder {
  color: #b4dcec;
}
.patient__recommendations textarea::placeholder {
  color: #b4dcec;
}
.patient__recommendations textarea:focus {
  border: 0.1rem solid #283779;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.patient__recommendations textarea:first-child {
  margin-bottom: 0.7rem;
}

@media screen and (max-width: 980px) {
  .patient__data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 470px) {
  .patient__title {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}