@import "main.scss";

body{
  background-color: $light-color;
}

.btn{
  display: inline-block;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  overflow: hidden;
  border: .1rem solid $primary-color;
  border-radius: 5rem;
  background: transparent;
  color: $primary-color;
  transition: 0.5s;
  &:hover{
    color: $bg-color;
    span {
      width: 100%;
    } 
  }
}

/*=============== WELCOME ===============*/
.welcome{
  background-image: url('../../img/welcome-bg.png');
  &__container{
    width: 100%;
    padding-top: $header-height;
    display: flex;
    justify-content: space-between;
  }
  &__data{
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__description{
    line-height: 140%;
    margin: 1rem 0 2.5rem 0;
    font-size: $normal-font-size;
    color: $secondary-color;
  }
  &__btn{
    width: fit-content;
    padding: 1rem 2rem;
    margin: 0;
    font-size: $h2-font-size;
    font-weight: $font-semi-bold;
    color: $bg-color;
    transition: 0.5s;
    z-index: 2;
    .cover{
      background: $light-color;
    }
    &:hover{
      color: $primary-color;
      background-color: $light-color;
    }
  }
  &__photo{
    width: 100%;
    height: 80vh;
    align-items: center;
    img{
      width: 100%;
      object-fit: contain;
    }
  }
}

/*=============== INFO ===============*/
.info{
  margin: 2rem 0;
  padding: 2rem;
  background-image: url(../../../img/info-bg.png);
  background-size: contain;
  background-color: $primary-color;
  &__container{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    color: #fff;
  }
  &__photo{
    flex: 1;
    img{
      width: 100%;
      object-fit: cover;
    }
  }
  &__data{
    flex: 2;
    width: 100%;
    margin: 1rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    line-height: 120%;
    position: relative;
    font-size: $h1-font-size;
  }
  &__description{
    line-height: 140%;
    margin: 2rem 0;
    font-size: $normal-font-size;
  }
  &__btn{
    width: fit-content;
    padding: 1rem 2rem;
    margin: 0;
    border: .1rem solid $bg-color;
    font-size: $normal-font-size;
    color: $primary-color;
    transition: 0.5s;
    z-index: 2;
    .cover{
      background: $bg-color;
      &__bg{
        background-color: #fff;
      }
    }
    &:hover{
      border: .1rem solid #fff;
      background-color: $bg-color;
      color: $primary-color;
    }
  }
}

/*=============== ABOUT ===============*/
.about{
  background-image: url('../../img/about-bg.png');
  &__title__bg {
    background-image: url('../../img/about-us.png');
  }
  &__container{
    width: 100%;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  &__photo{
    width: 150vh;
    img{
      width: 100%;
      object-fit: contain;
    }
  }
  &__data{
    width: 100%;
    margin: 3rem 3rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title{
    line-height: 120%;
    position: relative;
    font-size: $h1-font-size;
    color: $primary-color;
  }
  &__description{
    line-height: 140%;
    margin: 1rem 0 2.5rem 0;
    font-size: $normal-font-size;
    color: $secondary-color;
  }
  &__btn{
    width: fit-content;
    padding: 1rem 2rem;
    margin: 0;
    font-size: $normal-font-size;
    color: $primary-color;
    transition: 0.5s;
    z-index: 2;
  }
}

/*=============== DEPARTMENTS ===============*/
.departments{
  margin-top: 2rem;
  &__title__bg {
    background-image: url('../../img/departments-bg.png');
  }
  &__cards{
    margin: 5% 0;
    display: flex;
    height: 20rem;
    gap: 1rem;
    .card1{
      background-image: url('../../img/children.png');
    }
    .card2{
      background-image: url('../../img/teenagers.png');
    }
    .card3{
      background-image: url('../../img/adults.png');
    }
    .card4{
      background-image: url('../../img/old-adults.jpg');
    }
    .card5{
      background-image: url('../../img/family.jpg');
    }
    > div{
      flex: 1;
      border-radius: 1rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
      &:hover{
        flex: 5;
      }
    }
    &:hover > :not(:hover) {
      opacity: 0.5;
    }
  }
}

@media screen and (max-width: 992px) {
  .welcome{
    &__container{
      flex-direction: column-reverse;
    }
    &__data{
      height: 65vh;
      margin-top: 5vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
    }
    &__description{
      line-height: 130%;
    }
  }
}

@media (max-width: 767px) {
  .info{
    &__container{
      flex-direction: column;
    }
  }
  .about{
    &__container{
      flex-direction: column-reverse;
    }
    &__photo{
      width: 80vw;
      margin: 0 auto 5vh auto;

      img{
        width: 100%;
        object-fit: contain;
      }
    }
    &__data{
      margin: 0;
      min-height: 45vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
    }
    &__description{
      margin-bottom: 2rem;
      line-height: 130%;
    }
  }
}