/*=============== VARIABLES SCSS ===============*/

$header-height: 5.5rem;

/*========== Colors ==========*/
$primary-color: #283779;
$secondary-color: #1b71a1;
$bg-color: #b4dcec;
$light-color: #f0f4f9;
$dark-color: #222132;
$light-gray: #7b7a8b;
$dark-gray: #464558;

/*========== Font ==========*/
@font-face {
  font-family: 'Comfortaa', cursive;
  src: url();
}
@font-face {
  font-family: 'Molengo', sans-serif;
  src: url();
}
$primary-font: 'Comfortaa', cursive;
$secondary-font: 'Molengo', sans-serif;
$subtitle-font: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";


/*========== Typography ==========*/
/*.5rem = 8px | 1rem = 16px ...*/
$biggest-font-size: 3.25rem;
$h1-font-size: 2rem;
$h2-font-size: 1.75rem;
$normal-font-size: 1.5rem;
$small-font-size: 1rem;
$smaller-font-size: .75rem;

/*========== Font weight ==========*/
$font-standart: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;

/* Responsive typography */
@media screen and (min-width: 1024px) {
  $biggest-font-size: 4rem;
  $h1-font-size: 2.5rem;
  $h2-font-size: 2rem;
  $normal-font-size: 1.75rem;
  $small-font-size: 1.25rem;
  $smaller-font-size: 1rem;
}