@import "main.scss";

body{
  background-color: $light-color;
}

/*=============== WELCOME ===============*/
.welcome{
  background-image: url(../../img/welcome-bg.png);
  &__container{
    width: 100%;
    padding-top: $header-height;
    display: flex;
    justify-content: space-between;
  }
  &__data{
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__description{
    line-height: 140%;
    margin: 1rem 0 2.5rem 0;
    font-size: $normal-font-size;
    color: $secondary-color;
  }
  &__btn{
    width: fit-content;
    padding: 1rem 2rem;
    margin: 0;
    font-size: $h2-font-size;
    font-weight: $font-semi-bold;
    color: $bg-color;
    transition: 0.5s;
    z-index: 2;
    .cover{
      background: $light-color;
    }
    &:hover{
      color: $primary-color;
      background-color: $light-color;
    }
  }
}