{% extends "market/catalogue.html" %}
{% load static%}
{% block content %}
<main>
    <div class="container">

        <div class="table-responsive text-nowrap">
            <h2>Your account</h2>
            <table class="table"> vc
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Money</th>
                </tr>
                </thead>
                <tbody>
                {% if user.is_authenticated %}
                <tr>
                    <th scope="row"></th>
                    <td>{{ user.username }}</td>
                    <td>{{ user_email }}</td>
                    <td>{{ money }} TG</td>
                </tr>
                {% endif %}


                </tbody>
            </table>

        </div>

    </div>
</main>

{% endblock content %}
{% block cl %}
{% if orders %}
<div class="jumbotron">
    <div class="container">
        <div class="container">

            <div class="table-responsive text-nowrap">
                <h5>Last orders:</h5>
                <table class="table"> vc
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Orders</th>
                        <th scope="col">Total</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if user.is_authenticated %}
                    {% for order in orders %}

                    <tr>
                        <th scope="row" style="width:50px; background: pink">
                            <img src="{% static 'img/icons/bag.png' %}" alt="">
                        </th>
                        <td>
                            {% for item in order.items.all %}
                            -{{item.product.name}}<br>
                            {% endfor %}
                        </td>
                        <td>{{ order.get_total }}</td>
                    </tr>

                    {% endfor %}
                    {% endif %}


                    </tbody>
                </table>

            </div>

        </div>

    </div>
</div>
{% endif %}
{% endblock cl%}