<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Products</title>
    <link rel="shortcut icon" href={% static "/assets/img/logo-bg.png" %} type="image/x-icon"/>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href={% static "/assets/styles/css/nullstyle.css" %}/>
    <link rel="stylesheet" href={% static "/assets/styles/css/headerShop.css" %}/>
    <link rel="stylesheet" href={% static "/assets/styles/css/products.css" %}/>
    <link rel="stylesheet" href={% static "/assets/styles/css/footerShop.css" %}/>
</head>
<body>
<!--==================== HEADER ====================-->
<header id="header">
    <nav class="navbar container">
        <a class="navbar__brand" href="/"
        ><img src="{% static "/assets/img/logo.png" %}" width="118" alt="logo"
        /></a>
        <!-- <button class="navbar__toggler" id="navbar-toggler">X</button> -->
        <ul class="navbar__list" id="navbar-list">
            <li class="navbar__item">
                <a class="navbar__link" href="/">diabet</a>
            </li>
            {% if not user.is_staff %}
            <li class="navbar__item">
                <a class="navbar__link" href="/appointment">appointment</a>
            </li>
            {% endif %}
            <li class="navbar__item">
                <a class="navbar__link" href="">products</a>
            </li>
            {% if user.is_staff %}
            <li class="navbar__item">
                <a class="navbar__link" href="/blockchain/block/chain">blockchain</a>
            </li>
            {% endif %}
            <li class="navbar__item">
                <a class="navbar__link" href="/main/contact">contact</a>
            </li>
        </ul>
        <div class="icons">
            {% if user_money != None %}
            <a href="#" class="icon">
                {{ user_money }} KZT
            </a>
            {% endif %}
            <a href="/market/order-summary" class="icon">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
            {% if user.is_authenticated %}
                <a href="/users/logout" class="icon">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
            {% else %}
                <a href="/users/login" class="icon">
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
            {% endif %}
        </div>
    </nav>
</header>

<main class="container">
    <!--==================== FILTER ====================-->
    <aside class="aside__data">
        <form class="filter" id="form_filter">
            <div class="filter__title">
                <h3>Filter</h3>
                <i class="fa fa-solid fa-bars-filter"></i>
            </div>
            <div class="filter__card">
                <div class="filter__name">Category</div>
                <div class="filter__items">
                    <!-- item start -->
                    <div class="filter__item">
                        <label class="material-checkbox">
                            <input type="checkbox" id="ch_med"/>
                            <span class="checkmark"></span>
                            Medicine
                        </label>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="filter__item">
                        <label class="material-checkbox">
                            <input type="checkbox" id="ch_food"/>
                            <span class="checkmark"></span>
                            Glossary
                        </label>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="filter__item">
                        <label class="material-checkbox">
                            <input type="checkbox" id="ch_dev"/>
                            <span class="checkmark"></span>
                            Devices
                        </label>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="filter__item">
                        <label class="material-checkbox">
                            <input type="checkbox" id="ch_other"/>
                            <span class="checkmark"></span>
                            Other
                        </label>
                    </div>
                    <!-- item end -->
                </div>
            </div>
            <div class="filter__card">
                <div class="filter__name">Price</div>
                <div class="filter__items">
                    <!-- item start -->
                    <div class="filter__item">
                        <label class="material-checkbox">
                            <input id="0_1000" value="(0,1000)" type="checkbox"/>
                            <span class="checkmark"></span>
                            Less 1 000
                        </label>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="filter__item">
                        <label class="material-checkbox">
                            <input id="1000_10000" value="(1000,10000)" type="checkbox"/>
                            <span class="checkmark"></span>
                            1 000 - 10 000
                        </label>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="filter__item">
                        <label class="material-checkbox">
                            <input id="10000_50000" value="(10000,50000)" type="checkbox"/>
                            <span class="checkmark"></span>
                            10 000 - 50 000
                        </label>
                    </div>
                    <!-- item end -->
                    <!-- item start -->
                    <div class="filter__item">
                        <label class="material-checkbox">
                            <input id="50000_more" value="(50000,more)" type="checkbox"/>
                            <span class="checkmark"></span>
                            More 50 000
                        </label>
                    </div>
                    <!-- item end -->
                </div>
            </div>
            {#            <input id="apply" type="submit" class="send__btn" value="Apply"/>#}
            <input id="apply" type="button" class="send__btn" value="Apply"/>
        </form>
    </aside>

    <!--==================== NEW PRODUCTS ====================-->
    <section class="products">
        <div class="products__container container">
            <div class="products__data">
                <div class="products__title">
                    <a href="/market">Shop /</a>
                    <a href="/market/products"> Products</a>
                </div>
                <div class="products__sort">
                    <div class="select" tabindex="1">
                        <input
                                class="selectopt"
                                name="test"
                                type="radio"
                                id="opt1"
                                checked
                        />
                        <label for="opt1" class="option">A - Z</label>
                        <input class="selectopt" name="test" type="radio" id="opt2"/>
                        <label for="opt2" class="option">Z - A</label>
                        <input class="selectopt" name="test" type="radio" id="opt3"/>
                        <label for="opt3" class="option">Price: Low to High</label>
                        <input class="selectopt" name="test" type="radio" id="opt4"/>
                        <label for="opt4" class="option">Price: High to Low</label>
                    </div>
                </div>
            </div>
            <div class="product__cards">
                {% for product in pr %}
                    <div class="product__card">
                        <a href="/market/product/{{ product.slug }}">
                            <img src="{{ product.image }}" alt=""/>
                        </a>
                        <div class="product__card__info">
                            <div class="product__card__name">{{ product.name_product }}</div>
                            {% if product.price != product.price_with_prom %}
                                <div class="product__card__price">
                                    <s>{{ product.price }}</s> {{ product.price_with_prom }}</div>
                            {% else %}
                                <div class="product__card__price">
                                    {{ product.price }}</div>
                            {% endif %}
                        </div>
                        <div class="product__card__selected">
                            <a href="{{ product.get_add_to_cart_url }}" class="icon">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </div>
                    </div>

                {% endfor %}
            </div>
        </div>
    </section>
</main>

<!--==================== FOOTER ====================-->
<footer class="footer">
    <div class="footer__container container">
        <div class="footer__items">
            <ul class="footer__list">
                <li class="footer__item">
                    <a class="footer__link" href="/">diabet</a>
                </li>
                {% if not user.is_staff %}
                <li class="navbar__item">
                    <a class="navbar__link" href="/appointment">appointment</a>
                </li>
                {% endif %}
                <li class="footer__item">
                    <a class="footer__link" href="">products</a>
                </li>
            </ul>
        </div>
        <div class="footer__items">
            <div class="social__links">
                <a href=""><i class="fab fa-brands fa-instagram"></i></a>
                <a href=""><i class="fab fa-brands fa-twitter"></i></a>
                <a href=""><i class="fab fa-brands fa-facebook"></i></a>
            </div>
        </div>
    </div>
</footer>

<!--==================== COPYRIGHT ====================-->
<div class="copyright">
    <div class="copyright__container container">
        All rights Reserved &copy; Diploma project, 2023
    </div>
</div>
<script>
    // Get the form element by ID
    let form = document.getElementById('form_filter');

    // Get the checkbox element by ID
    let medicineCheckbox = document.getElementById('ch_med');
    let foodCheckbox = document.getElementById('ch_food');
    let deviceCheckbox = document.getElementById('ch_dev');
    let otherCheckbox = document.getElementById('ch_other');

    let applyButton = document.getElementById('apply')

    // Add event listener to form submission
    form.action = "/market/get_all_products/?"
    form.method = "get"
    applyButton.addEventListener('click', function (e) {
        let url = "";
        // Check if the medicine checkbox is checked

        console.log("form action " + form.action)
        if (medicineCheckbox.checked) {
            url = url + 'type=medicine\&'
        }
        if (foodCheckbox.checked) {
            url = url + 'type=food\&'
        }
        if (deviceCheckbox.checked) {
            url = url + 'type=device\&'
        }
        if (otherCheckbox.checked) {
            url = url + 'type=other\&'
        }
        if (document.getElementById("0_1000").checked) {
            url = url + 'price=0-1K\&'
        }
        if (document.getElementById("1000_10000").checked) {
            url = url + 'price=1K-10K\&'
        }
        if (document.getElementById("10000_50000").checked) {
            url = url + 'price=10K-50K\&'
        }
        if (document.getElementById("50000_more").checked) {
            url = url + 'price=50K+\&'
        }
        console.log("form action " + form.action)
        console.log("URL " + url)
        console.log("path " + window.location.pathname)

        console.log("URL " + url)
        console.log(window.location.pathname + decodeURI("%3F" + url))
        {#form.submit()#}
        var encodedQueryParam = decodeURIComponent(url);
        var url_end = window.location.pathname + "?" + encodedQueryParam;
        console.log("url_end " + url_end)
        window.location.href = url_end;

        {#window.location.pathname = window.location.pathname+decodeURIComponent("%3F"+url)#}
        {#console.log("path "+ window.location.pathname)#}
    });


    {#%3Ftype%3Dother%26type%3Dmedicine#}
</script>
</body>
</html>
